In [14]:
# Step 1: Load Your Actual Source Tables
# ----------------------------------------

import pandas as pd
import chardet

print(pd.__version__)

# Replace these with your actual file names or paths
table_a = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\industry_sic.csv")
table_b = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\industry.csv")

# Preview the tables
print("Table A:")
display(table_a)

print("Table B:")
display(table_b)

# with open("analysis/movies/movies_groundtruth.csv", 'rb') as f:
#     result = chardet.detect(f.read(10000))
#     print(result)

1.3.4
Table A:

     SIC Code                                        Description
0        1110  Growing of cereals (except rice), leguminous c...
1        1120                                    Growing of rice
2        1130  Growing of vegetables and melons, roots and tu...
3        1140                              Growing of sugar cane
4        1150                                 Growing of tobacco
..        ...                                                ...
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

[731 rows x 2 columns]

Table B:

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [15]:
ground_truth = pd.read_csv(
    r"data\dat_dialite\Alphanumeric - Industry\ground_industry.csv",
    quotechar='"',
    on_bad_lines='warn', 
)

alite_output = pd.read_csv(
    r"data\dat_dialite\Alphanumeric - Industry\ir_alite_Alphanumeric - Industry-760400.csv",
    encoding="ISO-8859-1",
    quotechar='"',
    on_bad_lines='warn',
    engine='python'
)
# Preview the tables
print("Ground Truth Table:")
display(ground_truth)

print("ALITE Output Table:")
display(alite_output)

Ground Truth Table:

,SIC Code,Description,Industry
0,1110.0,"Growing of cereals (except rice), leguminous c...",NaN
1,1120.0,Growing of rice,NaN
2,1130.0,"Growing of vegetables and melons, roots and tu...",NaN
3,1140.0,Growing of sugar cane,NaN
4,1150.0,Growing of tobacco,NaN
...,...,...,...
769,NaN,NaN,Skilled Labor
770,NaN,NaN,Technology
771,NaN,NaN,Telecommunications
772,NaN,NaN,Transportation/Logistics
773,NaN,NaN,Other

ALITE Output Table:

,industry,sic code,description
0,NaN,14141.0,manufacture of men's underwear
1,NaN,87200.0,residential care activities for learning diffi...
2,NaN,3120.0,freshwater fishing
3,NaN,28132.0,manufacture of compressors
4,NaN,84240.0,public order and safety activities
...,...,...,...
769,non-profit/volunteer,NaN,NaN
770,management/executive,NaN,NaN
771,real estate,NaN,NaN
772,engineering,NaN,NaN
773,business development,NaN,NaN

In [33]:
# import pandas as pd
# from IPython.display import display

# # Load the datasets
# ground_truth = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\ground_industry.csv")
# alite_output = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\ir_alite_Alphanumeric - Industry-760400.csv")

# # Step 1: Standardise column names
# ground_truth.columns = ground_truth.columns.str.strip().str.lower()
# alite_output.columns = alite_output.columns.str.strip().str.lower()

# # Step 2: Identify common columns
# common_cols = list(set(ground_truth.columns) & set(alite_output.columns))
# print(f"Common columns: {common_cols}")

# # Step 3: Clean & normalise string values in those columns
# def clean_df(df):
#     return df[common_cols].dropna().astype(str).apply(lambda x: x.str.strip().str.lower())

# gt_clean = clean_df(ground_truth)
# ao_clean = clean_df(alite_output)

# print("Cleaned Ground Truth Table:")
# display(gt_clean.head())
# print("Cleaned ALITE Output Table:")    
# display(ao_clean.head())

# # Step 4: Convert rows to sets of values (per row), then sets of sets
# gt_sets = set(frozenset(row) for row in gt_clean.values.tolist())
# ao_sets = set(frozenset(row) for row in ao_clean.values.tolist())

# # Step 5: Calculate exact row matches
# tp = gt_sets & ao_sets  # True Positives
# print(f"True Positives: {len(tp)}")
# fp = ao_sets - gt_sets  # False Positives
# print(f"False Positives: {len(fp)}")
# fn = gt_sets - ao_sets  # False Negatives
# print(f"False Negatives: {len(fn)}")

# # Step 6: Metrics
# precision = len(tp) / (len(tp) + len(fp)) if (len(tp) + len(fp)) > 0 else 0
# recall = len(tp) / (len(tp) + len(fn)) if (len(tp) + len(fn)) > 0 else 0
# f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

# # Step 7: Display metrics
# print(f"Set-Based Row Match Precision: {precision:.2%}")
# print(f"Set-Based Row Match Recall:    {recall:.2%}")
# print(f"Set-Based Row Match F1 Score:  {f1:.2%}")

# # Step 9: Display mismatches
# fp_df = pd.DataFrame([list(s) for s in fp])
# fn_df = pd.DataFrame([list(s) for s in fn])

# print("\n Rows in ALITE but not in Ground Truth (False Positives):")
# display(fp_df)

# print("\n Rows in Ground Truth but missing from ALITE (False Negatives):")
# display(fn_df)

# # Step 10: Save metrics
# metrics = pd.DataFrame({
#     'Metric': ['Precision', 'Recall', 'F1 Score'],
#     'Value': [precision, recall, f1]
# })
# metrics.to_csv("analysis/set_row_match_metrics.csv", index=False)

#--------------------------code thatt works--------------------------
# import pandas as pd
# from IPython.display import display

# # Load the datasets
# ground_truth = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\ground_industry.csv")
# alite_output = pd.read_csv(r"data\dat_dialite\Alphanumeric - Industry\ir_alite_Alphanumeric - Industry-760400.csv")

# # Step 1: Standardise column names
# ground_truth.columns = ground_truth.columns.str.strip().str.lower()
# alite_output.columns = alite_output.columns.str.strip().str.lower()

# # Step 2: Identify common columns
# common_cols = sorted(set(ground_truth.columns) & set(alite_output.columns))
# print("Common columns:", common_cols)

# # Step 3: Clean and flatten each row into a tuple of values
# def clean_and_flatten(df):
#     return [
#         tuple(
#             str(x).strip().lower() if pd.notna(x) else "missing"
#             for x in row
#         )
#         for row in df[common_cols].values.tolist()
#     ]

# gt_rows = set(clean_and_flatten(ground_truth))
# ao_rows = set(clean_and_flatten(alite_output))

# # Step 4: Compare the sets of rows
# tp = gt_rows & ao_rows  # True Positives
# fp = ao_rows - gt_rows  # False Positives
# fn = gt_rows - ao_rows  # False Negatives

# print("True Positives:", len(tp))
# print("False Positives:", len(fp))
# print("False Negatives:", len(fn))

# # Step 5: Compute metrics
# precision = len(tp) / (len(tp) + len(fp)) if (len(tp) + len(fp)) > 0 else 0
# recall = len(tp) / (len(tp) + len(fn)) if (len(tp) + len(fn)) > 0 else 0
# f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

# print("\nPrecision: {:.2%}".format(precision))
# print("Recall:    {:.2%}".format(recall))
# print("F1 Score:  {:.2%}".format(f1))

# # Step 6: Display mismatches
# fp_df = pd.DataFrame(list(fp), columns=common_cols)
# fn_df = pd.DataFrame(list(fn), columns=common_cols)

# print("\nRows in ALITE but not in Ground Truth (False Positives):")
# display(fp_df)

# print("\nRows in Ground Truth but missing from ALITE (False Negatives):")
# display(fn_df)

# # Step 7: Save metrics
# metrics = pd.DataFrame({
#     'Metric': ['Precision', 'Recall', 'F1 Score'],
#     'Value': [precision, recall, f1]
# })
# metrics.to_csv("analysis/set_row_match_metrics.csv", index=False)
import pandas as pd
from IPython.display import display

# Load the datasets
ground_truth = pd.read_csv(r"data\dat_dialite\Alphanumeric - Movies\movies_groundtruth.csv")
alite_output = pd.read_csv(r"data\dat_dialite\Alphanumeric - Movies\integratedALITEmovies.csv")

# Step 1: Standardise column names
ground_truth.columns = ground_truth.columns.str.strip().str.lower()
alite_output.columns = alite_output.columns.str.strip().str.lower()

# Step 2: Identify common columns
common_cols = sorted(set(ground_truth.columns) & set(alite_output.columns))
print("Common columns:", common_cols)

# Step 3: Clean and flatten each row into a tuple of values
def clean_and_flatten(df):
    return [
        tuple(
            str(x).strip().lower() if pd.notna(x) else "missing"
            for x in row
        )
        for row in df[common_cols].values.tolist()
    ]

gt_rows = set(clean_and_flatten(ground_truth))
ao_rows = set(clean_and_flatten(alite_output))

# Step 4: Compare the sets of rows
tp = gt_rows & ao_rows  # True Positives
fp = ao_rows - gt_rows  # False Positives
fn = gt_rows - ao_rows  # False Negatives

print("True Positives:", len(tp))
print("False Positives:", len(fp))
print("False Negatives:", len(fn))

# Step 5: Compute metrics
precision = len(tp) / (len(tp) + len(fp)) if (len(tp) + len(fp)) > 0 else 0
recall = len(tp) / (len(tp) + len(fn)) if (len(tp) + len(fn)) > 0 else 0
f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

print("\nPrecision: {:.2%}".format(precision))
print("Recall:    {:.2%}".format(recall))
print("F1 Score:  {:.2%}".format(f1))

# Step 6: Display mismatches safely
fp_rows = [list(row) for row in fp if len(row) == len(common_cols)]
fn_rows = [list(row) for row in fn if len(row) == len(common_cols)]

fp_df = pd.DataFrame(fp_rows, columns=common_cols)
fn_df = pd.DataFrame(fn_rows, columns=common_cols)

print("\nRows in ALITE but not in Ground Truth (False Positives):")
display(fp_df)

print("\nRows in Ground Truth but missing from ALITE (False Negatives):")
display(fn_df)

# Step 7: Save metrics
metrics = pd.DataFrame({
    'Metric': ['Precision', 'Recall', 'F1 Score'],
    'Value': [precision, recall, f1]
})
metrics.to_csv("analysis/set_row_match_metrics.csv", index=False)

Common columns: ['cast', 'country', 'date_added', 'description', 'director', 'duration', 'genre', 'rating', 'release_year', 'show_id', 'title', 'type', 'year']
True Positives: 38
False Positives: 8808
False Negatives: 8811

Precision: 0.43%
Recall:    0.43%
F1 Score:  0.43%

Rows in ALITE but not in Ground Truth (False Positives):

,cast,country,date_added,description,director,duration,genre,rating,release_year,show_id,title,type,year
0,"emraan hashmi, humaima malik, paresh rawal, ka...",india,"november 1, 2018",a small-time con man assembles a team to help ...,kunal deshmukh,131 min,missing,tv-14,2014.0,s4457,raja natwarlal,movie,missing
1,"zoey deutch, halston sage, erica tremblay, log...",united states,"june 8, 2020",forced to continually relive the day she dies ...,ry russo-young,98 min,missing,pg-13,2017.0,s2412,before i fall,movie,missing
2,"k.j. apa, lili reinhart, camila mendes, cole s...",united states,"june 19, 2021","while navigating the troubled waters of sex, r...",rob seidenglanz,4 seasons,missing,tv-14,2019.0,s677,riverdale,tv show,missing
3,"wendell pierce, jurnee smollett-bell, joanne f...",united states,"august 25, 2019","after 25 years of searching, a lonely dentist ...",tim rouhana,92 min,missing,tv-ma,2018.0,s7664,one last thing,movie,missing
4,amit tandon,india,"february 28, 2020",from the death of romance in marriage to the i...,missing,72 min,missing,tv-14,2019.0,s2870,amit tandon: family tandoncies,movie,missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8803,"gbenga titiloye, elvina ibru, sharon ooja, osa...",nigeria,"october 11, 2019",with a matriarch bent on having a lavish 51st ...,bolanle austen-peters,99 min,missing,tv-14,2019.0,s3432,the bling lagosians,movie,missing
8804,"luna maya, herjunot ali, sara wijayanto, maria...",indonesia,"january 15, 2019",a mother uses her deceased daughterÃ¢Â€Â™s doll a...,rocky soraya,117 min,missing,tv-ma,2017.0,s4196,the doll 2,movie,missing
8805,"chris klein, jon lovitz, chelsey reist, lochly...",united states,"december 31, 2019",a rookie lawyer with an emasculating past in b...,jon rosenbaum,90 min,missing,pg-13,2019.0,s3081,benchwarmers 2: breaking balls,movie,missing
8806,"michael stuhlbarg, richard kind, fred melamed,...","united states, united kingdom, france","january 16, 2018","with every aspect of his life unraveling, a je...","ethan coen, joel coen",106 min,missing,r,2009.0,s6058,a serious man,movie,missing
8807,"shannyn sossamon, john beasley, james ransone,...","united states, united kingdom","october 16, 2019",a single mother and her twin sons move into a ...,ciarÃ£Â¡n foy,97 min,missing,r,2015.0,s3422,sinister 2,movie,missing

Rows in Ground Truth but missing from ALITE (False Negatives):

,cast,country,date_added,description,director,duration,genre,rating,release_year,show_id,title,type,year
0,missing,missing,missing,missing,sangeeth sivan,missing,comedies,missing,missing,missing,kyaa kool hai hum,missing,2005.0
1,missing,missing,missing,missing,matï¿½as gueilburt,missing,documentaries,missing,missing,missing,patria,missing,2019.0
2,missing,missing,missing,missing,jami,missing,dramas,missing,missing,missing,moor,missing,2015.0
3,missing,missing,missing,missing,missing,missing,stand-up comedy & talk shows,missing,missing,missing,chelsea,missing,2017.0
4,missing,missing,missing,missing,missing,missing,tv action & adventure,missing,missing,missing,warrior nun,missing,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,missing,missing,missing,missing,ashwin saravanan,missing,horror movies,missing,missing,missing,game over (telugu version),missing,2019.0
8807,sophia isabella,missing,missing,missing,missing,missing,kids' tv,missing,missing,s2041,transformers: cyberverse,tv show,2020.0
8808,vir das,united states,25-04-2017,comedian vir das tackles nationalism,marcus raboy,66 min,stand-up comedy,tv-ma,2017.0,s5519,vir das: abroad understanding,movie,2017.0
8809,missing,missing,missing,missing,jose gomez,missing,documentaries,missing,missing,missing,not a game,missing,2020.0
8810,missing,missing,missing,missing,noam murro,missing,comedies,missing,missing,missing,smart people,missing,2008.0

In [17]:
# # Standardise column names
# ground_truth.columns = ground_truth.columns.str.strip().str.lower()
# alite_output.columns = alite_output.columns.str.strip().str.lower()

# common_cols = list(set(ground_truth.columns) & set(alite_output.columns))

# # Set index for matching
# ground_truth.reset_index(inplace=True)
# alite_output.reset_index(inplace=True)

# ground_truth.set_index("title", inplace=True)
# alite_output.set_index("title", inplace=True)

# # Remove 'title' from common_cols (because it's now the index)
# if 'title' in common_cols:
#     common_cols.remove('title')

# print("Common columns for comparison:", common_cols)

# Standardise column names
ground_truth.columns = ground_truth.columns.str.strip().str.lower()
alite_output.columns = alite_output.columns.str.strip().str.lower()

# Identify common columns
common_cols = list(set(ground_truth.columns) & set(alite_output.columns))

# Create composite key: product_id + user_id
ground_truth['composite_key'] = ground_truth['sic code'].astype(str) + "_" + ground_truth['industry'].astype(str)
alite_output['composite_key'] = alite_output['sic code'].astype(str) + "_" + alite_output['industry'].astype(str)

# Set composite key as index
ground_truth.set_index('composite_key', inplace=True)
alite_output.set_index('composite_key', inplace=True)

# Remove fields used in key from comparison
for col in ['composite_key', 'sic code', 'industry']:
    if col in common_cols:
        common_cols.remove(col)

print("Common columns for comparison:", common_cols)

Common columns for comparison: ['description']

In [18]:
# Only keep rows with matching titles
matched_titles = ground_truth.index.intersection(alite_output.index)

# Subset both datasets using matched titles and common columns
gt_raw = ground_truth.loc[matched_titles, common_cols]
alite_raw = alite_output.loc[matched_titles, common_cols]

gt_raw.columns = gt_raw.columns.str.strip().str.lower()
alite_raw.columns = alite_raw.columns.str.strip().str.lower()

# Define a normalisation function (strip strings and lowercase)
def normalize(df):
    return df.applymap(lambda x: str(x).strip().lower() if isinstance(x, str) else x)

# Apply normalization to both subsets
gt_subset = normalize(gt_raw)
alite_subset = normalize(alite_raw)

gt_subset.columns = gt_subset.columns.str.strip().str.lower()
alite_subset.columns = alite_subset.columns.str.strip().str.lower()

# Compare only common columns for those matched titles
comparison = gt_subset.eq(alite_subset)

# Accuracy per column
accuracy = comparison.mean() * 100
print(accuracy)

# Overall integration accuracy
total_accuracy = comparison.stack().mean() * 100
print(f"\nOverall Integration Accuracy: {total_accuracy:.2f}%")

# Save the comparison result to a CSV file
comparison.to_csv("analysis/comparison_result.csv", index=True)
# Save the accuracy results to a CSV file       
accuracy.to_csv("analysis/accuracy_results.csv", header=["Accuracy (%)"])

description    100.0
dtype: float64

Overall Integration Accuracy: 100.00%

In [19]:
matched_titles = ground_truth.index.intersection(alite_output.index)

gt_subset = ground_truth.loc[matched_titles, common_cols]
alite_subset = alite_output.loc[matched_titles, common_cols]

In [20]:
import numpy as np

# Compare values
matches = gt_subset.eq(alite_subset)
tp = matches.sum().sum()  # Correct matches

# False Positives: ALITE has a value â‰  ground truth
fp = (~matches & alite_subset.notna()).sum().sum()

# False Negatives: Ground truth has a value but ALITE is missing
fn = (~matches & gt_subset.notna() & alite_subset.isna()).sum().sum()

In [21]:
precision = tp / (tp + fp) if (tp + fp) > 0 else 0
recall = tp / (tp + fn) if (tp + fn) > 0 else 0
f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

print(f"Precision: {precision:.2%}")
print(f"Recall:    {recall:.2%}")
print(f"F1 Score:  {f1:.2%}")

#save the precision, recall, and F1 score to a CSV file
metrics = pd.DataFrame({
    'Metric': ['Precision', 'Recall', 'F1 Score'],
    'Value': [precision, recall, f1]
})
metrics.to_csv("analysis/integration_metrics.csv", index=False)

Precision: 0.41%
Recall:    100.00%
F1 Score:  0.82%